.container {
    padding: 110px;
}
label {
    width: 100%;
    display: block;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.filters {
    width: 190px;
}


#fillter {
    font-weight: 700;
}

.table-wrapper {
    display: flex;
}

.table-list {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 14px;
    text-align: left;
}

tbody tr {
    background-color: rgb(255, 255, 255);
    border-bottom: 6px solid #ffffff;
}

.text-fade {
    color: #9B8C8C;
}

.text-fade-below {
    font-size: 13px;
    margin-top: 3px;
    font-weight: 700;
}
.checkbox {
    margin: 13px 0;
    margin-right: 27px;
}